<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Exercício 3</title>
</head>

<body>
    <main>
        <h1>Questionário de satisfação</h1>
        <form id="quest">
            <label for="name" class="questionHead">Nome</label>
            <input id="name" name="name" type="text" placeholder="Nome">

            <label for="age" class="questionHead">Idade</label>
            <input id="age" name="age" type="number" placeholder="Idade">

            <label for="postCode" class="questionHead">Código Postal</label>
            <input id="postCode" name="pCode" type="text" placeholder="Código Postal">

            <label for="vote" class="questionHead">Qualidade da comida (1 - 10)</label>
            <input class="vote" name="foodQ" type="range" min="0" max="10" />

            <label for="vote" class="questionHead">Adequação do preço (1 - 10)</label>
            <input class="vote" name="priceQ" type="range" min="0" max="10" />

            <label for="vote" class="questionHead">Qualidade do Serviço (1 - 10)</label>
            <input class="vote" name="serviceQ" type="range" min="0" max="10" />

            <label for="vote" class="questionHead">Localização (1 - 10)</label>
            <input class="vote" name="local" type="range" min="0" max="10" />

            <label for="photo" class="questionHead">Insira uma foto</label>
            <input name="photo" name="pictr" type="file" alt="image" />

            <button id="submit">Submeter</button>
        </form>
        <form id="search" action="/consult">
            <label for="key" class="questionHead">Insira a chave para consultar as suas respostas:</label>
            <input id="key" name="key" type="text" placeholder="chave de consulta">
            <button id="submit">Consultar</button>
        </form>
    </main>
    <script src="app.js"></script>
</body>

</html>