<html>

<head>
  <title>Search</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="/employees/search/salary" method="POST">
    <label>Salario maior do que:</label>
    <input type="number" name="salary" />
  </form>

  <form action="/employees/search/position" method="POST">
    <label>posição</label>
    <input type="text" name="position" />
  </form>
</body>

</html>